@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import "tailwindcss";

body {
  color: var(--color-light);
  background: var(--color-amber-100);
  font-family: 'Finger Paint', cursive;
}

h2 {
  @apply text-xl font-semibold mb-2;
}

._button {
  @apply text-sm px-4 py-2 rounded-xl border-2 cursor-pointer;
}

._button:hover {
  @apply bg-amber-300;
}

._button:disabled {
  @apply bg-gray-300 opacity-75 cursor-not-allowed;
}

._card {
  @apply border-2 p-4 rounded-md shadow-md flex flex-col;
}